.App {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.col-left {
    position: absolute;
    overflow: scroll;
    right: 76%;
    left: 0px;
    top: 0px;
    bottom: 0px;

}

.col-right {
    position: absolute;
    overflow: hidden;
    left: 24%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-left: 1px solid #ddd;
}

.treepane {
    position: absolute;
    left: 12px;
    right: 15px;
    top: 80px;
    bottom: 0px;
    overflow: scroll;
}

.branding {
    position: absolute;
    text-align: center;
    left: 0px;
    right: 5px;
    top: 5px;
    font-family: Input;
    color: #e5583f;
    overflow: hidden;
}
